
<h1 style="text-align: center">Listing Student Companies</h1>


<table class="table table-bordered" style="width: 300px; margin: auto">
  <tr>
    <th>ID</th>
    <th>Student Name</th>
    <th>Company Name</th>
  </tr>

  <% @student_companies.each do |company| %>
    <tr>
      <td><%= company.id %></td>
      <td><%= company.student.first_name %></td>
        <% unless company.company.nil? %>
      <td><%= company.company.name %></td>
      <% end %>
<!--      <td><%#= link_to 'Edit', edit_student_company_path(company),  class: "btn btn-xs btn-primary" %></td>-->
<!--      <td><%#= link_to 'Delete', student_company_path(company), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %></td>-->

    </tr>
  <% end %>
</table>