<div style="text-align: center">
<h1>Listing Students</h1>

<table class="table table-bordered" style="width: 300px; margin: auto">
  <tr>
    <th>Name</th>
    <th>Actions</th>
  </tr>

  <% @students.each do |student| %>
    <tr>
      <td><%= student.email %></td>
      <td><%= link_to 'Show', student_path(student),  class: "btn btn-xs btn-success" %></td>
<!--      <td><%#= link_to 'Edit', edit_student_path(student),  class: "btn btn-xs btn-primary" %></td>-->
<!--      <td><%#= link_to 'Delete', student_path(student), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %></td>-->

    </tr>
  <% end %>
</table>
</div>