<div style="text-align: center">

<p>
  <strong>First Name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @student.last_name %>
</p>

  <p>
    <strong>Email:</strong>
    <%= @student.email %>
  </p>

<!--  <p>-->
<!--    <strong>Photo:</strong>-->
    <%#= image_tag(@student.avatar.url, size: "250x250", alt: "Photo") %>
<!--  </p>-->


</div>

<%= link_to 'Back', students_path %>