
<div style="text-align: center">
<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @company.currency %>
</p>

<p>
  <strong>Country:</strong>
  <%= @company.country %>
</p>

</div>
<%= link_to 'Back', companies_path,  class: "btn btn-xs btn-danger" %>