
<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @company.currency %>
</p>

<p>
  <strong>Country:</strong>
  <%= @company.country %>
</p>


<%= link_to 'Back', companies_path %>